.search-container {
    padding: 20px;
}

.search-container Form.Group {
    margin-bottom: 15px;
}

.search-container Form.Control {
    width: 100%;
}

.search-container Button {
    margin-top: 10px;
}

.export-button {
    margin-top: 10px;
}

.customDropdown {
    width: 50px; /* Adjust the width as needed */
}

.indentLabel {
    padding-right: 20px; /* Adjust the padding as needed for the desired indentation */
}


.tableContainer td:first-child {
    padding-right: 5px; /* Adjust as needed */
}

.tableContainer td:last-child {
    padding-left: 5px; /* Adjust as needed */
}