.form-container {
    padding: 20px;
}

.form-input {
    width: 70%;
    margin: 10px 0;
}

.submit-button {
    margin: 10px 0;
    color: #333; 
    background-color: #f8f9fa; 
    border-color: #333; 
}

.error-message {
    background-color: rgba(255, 0, 0, 0.1); 
}